# ASIGNMENT-2 Web Scraping

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
    
1. First get the webpage https://www.naukri.com/

2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.

3. Then click the searchbutton.

4. Then scrape the data for the first 10 jobs results you get.

5. Finally create a dataframe of the scraped data.

In [1]:
#Import all necessary libraries

import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
#opening the naukri page on automated chrome browser
driver.get('https://www.naukri.com/')

In [5]:
#entering designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
#Creating all the necessary list 
job_title=[]
job_location=[]
company_name=[]
experience_Required=[]

In [9]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
job_title

['Data Analyst- Yulu Energy',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Required Data Analyst Off Role',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst Databricks']

In [10]:
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Delhi / NCR, Mumbai (All Areas)',
 'Hybrid - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [11]:
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
company_name

['Yulu Bikes',
 'Entrupy',
 'EY',
 'Allegis Group',
 'TeamLease',
 'Staffice Global',
 'What Digital Technologies',
 'Course5 Intelligence',
 'FresherMart',
 'Optum']

In [12]:
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_Required.append(experience)
    
experience_Required

['0-1 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '3-5 Yrs',
 '14-18 Yrs',
 '5-10 Yrs',
 '1-2 Yrs',
 '2-3 Yrs',
 '4-6 Yrs']

In [13]:
print(len(job_title),len(job_location),len(company_name),len(experience_Required))

10 10 10 10

In [14]:
#Creating DataFrame
import pandas as pd
df=pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company Name':company_name, 'Experience':experience_Required})
df

,Title,Location,Company Name,Experience
0,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
1,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
2,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",EY,5-10 Yrs
3,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
4,Required Data Analyst Off Role,Bangalore/Bengaluru,TeamLease,3-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Staffice Global,14-18 Yrs
6,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,Course5 Intelligence,1-2 Yrs
8,Data Analyst,Bangalore/Bengaluru,FresherMart,2-3 Yrs
9,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps-

1. First get the webpage https://www.naukri.com/

2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.

3. Then click the searchbutton.

4. Then scrape the data for the first 10 jobs results youget.

5. Finally create a dataframe of the scraped data.

In [15]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [16]:
#opening the naukri page on automated chrome browser
driver.get('https://www.naukri.com/')

In [17]:
#entering designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [18]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [22]:
#Creating all the necessary list 
job_title=[]
job_location=[]
company_name=[]
experience_Required=[]

In [23]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
job_title

['Data Science Specialist',
 'Analystics & Modeling Specialist',
 'Data Scientist',
 'Sr. Data scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Expert Data Scientist',
 'Data Scientist Architect',
 'Lead Artificial Intelligence Specialist']

In [24]:
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Indore, Pune, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Mumbai',
 'Temp. WFH - Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru']

In [25]:
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
company_name

['Accenture',
 'Accenture',
 'Cognizant',
 'Tata Consultancy Services (TCS)',
 'Capgemini',
 'Birlasoft',
 'Impetus Technologies',
 'UPL Limited',
 'Brace Infotech',
 'Baker Hughes']

In [26]:
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_Required.append(experience)
    
experience_Required

['2-4 Yrs',
 '6-8 Yrs',
 '8-10 Yrs',
 '7-12 Yrs',
 '9-14 Yrs',
 '8-12 Yrs',
 '4-8 Yrs',
 '8-10 Yrs',
 '11-20 Yrs',
 '5-10 Yrs']

In [27]:
print(len(job_title),len(job_location),len(company_name),len(experience_Required))

10 10 10 10

In [28]:
#Creating DataFrame
import pandas as pd
df=pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company Name':company_name, 'Experience':experience_Required})
df

,Title,Location,Company Name,Experience
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant,8-10 Yrs
3,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS),7-12 Yrs
4,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini,9-14 Yrs
5,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft,8-12 Yrs
6,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies,4-8 Yrs
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited,8-10 Yrs
8,Data Scientist Architect,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Brace Infotech,11-20 Yrs
9,Lead Artificial Intelligence Specialist,Bangalore/Bengaluru,Baker Hughes,5-10 Yrs

Q3. In this question you have to scrape data using the filters available on the webpage as shown below-

You have to use the location and salary filter.

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps-

1. first get thewebpage https://www.naukri.com/

2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.

3. Then click the searchbutton.

4. Then apply the location filter and salary filter by checking the respective boxes

5. Then scrape the data for the first 10 jobs results youget.

6. Finally create a dataframe of the scraped data.

In [31]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [32]:
#opening the naukri page on automated chrome browser
driver.get('https://www.naukri.com/')

In [33]:
#entering designation as required in the question-

designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [ ]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")    
search.click()

In [37]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
location.click()

In [38]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [39]:
job_title=[]
job_location=[]
company_name=[]
experience_Required=[]

In [40]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
job_title

['Data Scientist data Analyst',
 'Data Scientist - Engine Algorithm',
 'Analyst-Data Science',
 'Analyst-Data Science',
 'Senior Data Scientist - Statistics',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist - ML & NLP',
 'Data Scientist',
 'Data Scientist']

In [41]:
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
job_location

['Delhi / NCR, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Delhi / NCR, Noida(Sector-136 Noida), Ghaziabad, Greater Noida',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida',
 'Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram']

In [42]:
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
company_name

['Smark Laser Automation',
 'Primo Hiring',
 'AMERICAN EXPRESS',
 'AMERICAN EXPRESS',
 'Optum',
 'Extramarks Education',
 'Gartner India Research &amp; Advisory Services Pvt Ltd',
 'Gartner India Research &amp; Advisory Services Pvt Ltd',
 'Gujarat Fluorochemicals',
 'Torcai Digital Media']

In [43]:
#scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_Required.append(experience)
    
experience_Required

['0-5 Yrs',
 '1-3 Yrs',
 '0-3 Yrs',
 '0-3 Yrs',
 '5-8 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '2-4 Yrs',
 '1-2 Yrs',
 '2-7 Yrs']

In [44]:
print(len(job_title),len(job_location),len(company_name),len(experience_Required))

10 10 10 10

In [45]:
import pandas as pd
df=pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company Name':company_name, 'Experience':experience_Required})
df

,Title,Location,Company Name,Experience
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,5-8 Yrs
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
6,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
7,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs
8,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
9,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",Torcai Digital Media,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data asusual

In [51]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [52]:
#opening the flipkart page on automated chrome browser
driver.get('https://www.flipkart.com/')

In [53]:
sunglass=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
sunglass.send_keys('sunglasses')

In [56]:
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')    
search.click()

In [57]:
#creat list 
brand_name=[]
ProductDescription=[]
price=[]

In [58]:
#scraping values for brand name from the page
start=0
end=3

for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [59]:
len(brand_name)

120

In [60]:
brand_name=brand_name[:100]

In [61]:
len(brand_name)

100

In [62]:
#scraping values for product Description from the page
start=0
end=3

for page in range(start,end):
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        ProductDescription.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [63]:
ProductDescription=ProductDescription[:100]

In [64]:
len(ProductDescription)

100

In [65]:
#scraping values for price range from the page 
start=0
end=3

for page in range(start,end):
    price_r=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in price_r:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [66]:
price=price[:100]

In [67]:
len(price)

100

In [68]:
print(len(brand_name),len(ProductDescription),len(price))

100 100 100

In [69]:
import pandas as pd
df=pd.DataFrame({'Brand':brand_name, 'ProductDescription':ProductDescription, 'Price':price,})
df

,Brand,ProductDescription,Price
0,Singco India,UV Protection Round Sunglasses (54),Singco India
1,Singco India,"UV Protection, Mirrored Wayfarer Sunglasses (58)",Singco India
2,SRPM,UV Protection Retro Square Sunglasses (53),SRPM
3,Fastrack,"UV Protection, Riding Glasses Retro Square, Re...",Fastrack
4,Fastrack,UV Protection Aviator Sunglasses (57),Fastrack
...,...,...,...
95,ROZZETTA CRAFT,"Polarized, UV Protection Round Sunglasses (50)",ROZZETTA CRAFT
96,Fastrack,"Mirrored, Night Vision, UV Protection, Riding ...",Fastrack
97,PIRASO,UV Protection Retro Square Sunglasses (54),PIRASO
98,Fastrack,"UV Protection, Gradient Round Sunglasses (Free...",Fastrack
99,Fair-x,"Gradient, UV Protection Aviator Sunglasses (57)",Velocity Eyewear

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews

In [70]:
#connecting to the web driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [74]:
#opening the flipkart page on automated chrome browser
driver.get('https://www.flipkart.com/apple-iphone-11-white-128-gb/p/itme32df47ea6742?pid=MOBFWQ6B7KKRXDDS&lid=LSTMOBFWQ6B7KKRXDDSULUZ0N&marketplace=FLIPKART&q=iphone+11&store=tyy/4io&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_3_9_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_3_9_na_na_na&fm=organic&iid=c8d8741d-6266-4b08-b629-069988995213.MOBFWQ6B7KKRXDDS.SEARCH&ppt=hp&ppn=homepage&ssid=6ybad3e24w0000001676520218240&qH=f6cdfdaa9f3c23f3')

In [75]:
#Create list
Rating=[]
Review_summary=[]
Full_review=[]

In [77]:
#scraping values for rating from the page
start=0
end=10

for page in range(start,end):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        Rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [78]:
len(Rating)

110

In [79]:
Rating=Rating[:100]

In [80]:
len(Rating)

100

In [81]:
#scraping values for review summary from the page
start=0
end=10

for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        Review_summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [82]:
len(Review_summary)

100

In [83]:
Review_summary=Review_summary[:100]

In [84]:
len(Review_summary)

100

In [85]:
#scraping values for full review summary from the page
start=0
end=10

for page in range(start,end):
    full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full:
        Full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [86]:
len(Full_review)

100

In [87]:
Full_review=Full_review[:100]

In [88]:
len(Full_review)

100

In [89]:
import pandas as pd
df=pd.DataFrame({'Rating':Rating, 'Review Summary':Review_summary, 'Full Review':Full_review,})
df

,Rating,Review Summary,Full Review
0,5,Fabulous!,Really satisfied with the Product I received.....
1,5,Classy product,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Great iPhone very snappy experience as apple k...
3,,Perfect product!,I'm Really happy with the product\nDelivery wa...
4,,Value-for-money,It's my first time to use iOS phone and I am l...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
97,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
98,5,Highly recommended,"Amazing camera quality as expected, battery al..."
99,5,Perfect product!,It is just awesome mobile for this price from ...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:

1. Brand

2. ProductDescription

3. Price

As shown in the below image, you have to scrape the above attributes.

In [90]:
#connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [91]:
#opening webpage in driver
driver.get('https://www.flipkart.com/')

In [92]:
#searching for sneakers on flipkart page
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sneakers')

In [94]:
click_button=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
click_button.click()

In [97]:
#creat list
Brand=[]
ProductDescription=[]
Price=[]

In [98]:
#scraping values for brand name from the page
start=0
end=3

for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [99]:
len(Brand)

120

In [100]:
Brand=Brand[:100]

In [101]:
len(Brand)

100

In [102]:
#scraping values for product description from the page 
start=0
end=3

for page in range(start,end):
    pd=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pd:
        ProductDescription.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [103]:
len(ProductDescription)

120

In [104]:
ProductDescription=ProductDescription[:100]

In [105]:
len(ProductDescription)

100

In [106]:
#scraping values for price from the page 
start=0
end=3

for page in range(start,end):
    price_r=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_r:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [107]:
len(Price)

120

In [108]:
Price=Price[:100]

In [109]:
len(Price)

100

In [110]:
import pandas as pd
df=pd.DataFrame({'Brand Name':Brand, 'Product Description':ProductDescription, 'Price':Price,})
df

        Brand Name Product Description Price
0   KNIGHT WALKERS              ₹3,023  ₹258
1            Zixer                ₹399  ₹473
2           Shozie                ₹299  ₹374
3            Sparx                ₹384  ₹629
4         BERSACHE                ₹499  ₹549
..             ...                 ...   ...
95         Nilatin                ₹563  ₹945
96     Asian Shoes              ₹1,649  ₹449
97          Layasa              ₹1,649  ₹299
98          Layasa              ₹1,799  ₹389
99        RapidBox                ₹606  ₹499

[100 rows x 3 columns]

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image-

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [113]:
#connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [114]:
#opening the web page in driver
driver.get('https://www.amazon.in/')

In [115]:
#search for laptop on the web page
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [116]:
search_button=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search_button.click()

In [117]:
#applying cpu filter
cpu=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[12]/span/a/span')
cpu.click()

In [118]:
#create list
Title=[]
Ratings=[]
Price=[]

In [119]:
#scraping title values from the web page
title=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title[0:10] :
    title=i.text
    Title.append(title)
    
Title

['Dell G15-5520 Gaming Laptop, Intel i9-12900H, 16GB DDR5, 1TB SSD, NVIDIA GEFORCE RTX 3060 (6GB GDDR6), 15.6" (39.62Cms) FHD WVA AG, Win 11+ MSO\'21, Dark Shadow Grey (D560897WIN9S, 2.81Kgs)',
 'Acer Predator Helios 500 Gaming Laptop (11Th Gen Intel Core I9/17.3 Inches 4K Uhd Display/64Gb Ddr4 Ram/2Tb Ssd/1Tb HDD/RTX 3080 Graphics/Windows 10 Home/Per Key RGB Backlit Keyboard) Ph517-52',
 'ASUS Vivobook Pro 16, Intel Core i9 11th Gen, 16" (40.64 cm) FHD+ 120Hz, Thin & Light Laptop (16GB/512GB SSD/4GB RTX 3050/Win 11/Office 2021/Alexa/Backlit KB/FP Sensor/Blue/1.9 kg), K6602HC-N1901WS',
 'ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cm) WQHD 240Hz/3ms, Intel Core i9-12900H 12th Gen, 8GB RTX 3070 Ti, Gaming Laptop (32GB/1TB SSD/Windows 11/Office 2021/Black/2.3 Kg), G533ZWZ-LN136WS',
 'ASUS Zenbook Pro 14 Duo OLED (2022) Dual Screen Laptop, 14.5" (36.83 cm) 2.8K OLED 120Hz Touch, Intel EVO Core i9 12th Gen, (32GB/1TB SSD/4GB RTX 3050 Ti/Win 11/Office/Black/1.75 Kg) UX8402ZE-LM921WS',
 'Acer Predator Helios 300 Gaming Laptop Intel Core i9 11th Gen Processor - (16 GB/1TB SSD/ NVIDIA RTX 3060/165Hz/Windows 11 Home) PH315-54 with 39.6 cm (15.6 inches) QHD IPS Display/ 2.3 kgs',
 'ASUS ProArt Studiobook 16 OLED (2022) Dial, 16.0" (40.64 cm) 4K OLED, Intel Core i9 12th Gen, Laptop (32GB/1TB SSD/8GB RTX 3070 Ti Graphics/Win 11/Office 2021/Black/2.4 Kg), H7600ZW-L911WS',
 'ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cm) WQHD 240Hz/3ms, Intel Core i9-12900H 12th Gen, 16GB RTX 3080 Ti, Gaming Laptop (32GB/1TB SSD/Windows 11/Office 2021/Black/2.3 Kg), G533ZXZ-LN116WS',
 'Dell Alienware X17 R1 Gaming Laptop, Intel Core i9-11980HK, 32Gb, 1TB SSD, 17.3" (43.94 Cms) FHD1ms 360Hz, NVIDIA RTX 3080 (16GB GDDR6). Windows 11 + MSO\'21, Lunar Light (D569936WIN9, 3.02Kgs)',
 'Dell New Alienware x15 R2 Gaming Laptop, Intel i9-12900H, Win11+MSO\'21 , 32GB LP DDR5, 1TB SSD, NVIDIA RTX 3080 Ti (16GB GDDR6), 15.6" (39.62Cms) FHD 360Hz 300nits, AlienFX KB (D569942WIN9, 2.34Kgs)']

In [120]:
len(Title)

10

In [121]:
#scraping ratings values from the web page
ratings=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in ratings[0:10]:
    ratings=i.text
    Ratings.append(ratings)
    
Ratings

['4.2', '4.2', '3.3', '5.0', '2.4', '4.0', '4.5', '3.0', '3.3', '3.8']

In [122]:
len(Ratings)

10

In [123]:
#scraping price values from the web page
price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price[0:10]:
    price=i.text
    Price.append(price)
    
Price

['1,38,990',
 '4,32,159',
 '86,990',
 '2,29,990',
 '1,79,990',
 '1,19,990',
 '2,49,990',
 '2,81,990',
 '2,97,799',
 '3,56,600']

In [124]:
len(Price)

10

In [125]:
import pandas as pd
pd=pd.DataFrame({'Title':Title, 'Ratings':Ratings, 'Price':Price})
pd

                                               Title Ratings     Price
0  Dell G15-5520 Gaming Laptop, Intel i9-12900H, ...     4.2  1,38,990
1  Acer Predator Helios 500 Gaming Laptop (11Th G...     4.2  4,32,159
2  ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...     3.3    86,990
3  ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cm...     5.0  2,29,990
4  ASUS Zenbook Pro 14 Duo OLED (2022) Dual Scree...     2.4  1,79,990
5  Acer Predator Helios 300 Gaming Laptop Intel C...     4.0  1,19,990
6  ASUS ProArt Studiobook 16 OLED (2022) Dial, 16...     4.5  2,49,990
7  ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cm...     3.0  2,81,990
8  Dell Alienware X17 R1 Gaming Laptop, Intel Cor...     3.3  2,97,799
9  Dell New Alienware x15 R2 Gaming Laptop, Intel...     3.8  3,56,600

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [126]:
#connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [127]:
#opening web page in the driver
driver.get('https://www.azquotes.com/')

In [128]:
#click on top quotes
top=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top.click()

In [129]:
#create list
Quote=[]
Author=[]
Type_Of_Quotes=[]

In [130]:
#scraping quote values from the page 
start=0
end=9

for page in range(start,end):
    quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote:
        Quote.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)

In [133]:
len(Quote)

900

In [135]:
#scraping quote values from the page 
start=0
end=9

for page in range(start,end):
    author=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author:
        Author.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)

In [136]:
len(Author)

1100

In [137]:
Author=Author[:900]

In [138]:
len(Author)

900

In [140]:
#scraping quote values from the page 
start=0
end=9

for page in range(start,end):
    toq=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in toq:
        Type_Of_Quotes.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)

In [141]:
len(Type_Of_Quotes)

1000

In [142]:
Type_Of_Quotes=Type_Of_Quotes[:900]

In [143]:
len(Type_Of_Quotes)

900

In [144]:
import pandas as pd
df=pd.DataFrame({'Quote':Quote, 'Author':Author, 'Type Of Quotes':Type_Of_Quotes})
df

,Quote,Author,Type Of Quotes
0,The essence of strategy is choosing what not t...,Amelia Earhart,"Inspirational, Life, Success"
1,One cannot and must not try to erase the past ...,Ludwig von Mises,"Peace, War, Government"
2,Patriotism means to stand by the country. It d...,Elizabeth Cady Stanton,"Life, Strength, Courage"
3,Death is something inevitable. When a man has ...,Benjamin Spock,"Positive, Family, Trust"
4,You have to love a nation that celebrates its ...,Charles Kettering,"Inspirational, Motivational, Teacher"
...,...,...,...
895,To love means loving the unlovable. To forgive...,Thomas Fuller,"Inspirational, Funny, Dog"
896,"If you really want to do something, you'll fin...",Theodore Roosevelt,"Reality, Servant Of God, Careers"
897,Be brave. Take risks. Nothing can substitute e...,Anna Quindlen,"Wisdom, Religious, Freedom"
898,It is neither wealth nor splendor; but tranqui...,Wayne Dyer,"Inspirational, Motivational, Success"
899,A thousand words will not leave so deep an imp...,Paul Tournier,"Friendship, Teamwork, Mom"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps-

1. First get the webpagehttps://www.jagranjosh.com/

2. Then You have to click on the GK option

3. Then click on the List of all Prime Ministers of India

4. Then scrap the mentioned data and make theDataFrame.

In [2]:
#Connecting to the driver

driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
#opening the page on automated chrome browser
driver.get('http://www.jagranjosh.com/')

In [4]:
Name=[]
Born_dead=[]
Term_of_office=[]
Remarks=[]

In [5]:
#clicking on the gk section 
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [6]:
#clicking on the list of prime ministers of india 
pm=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div[14]/div/div/ul/li[3]/a')
pm.click()

In [7]:
#scraping name values from the web page 
name_tag=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in name_tag[0:50]:
    name=i.text
    Name.append(name)
    
Name

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [303]:
#scraping born-bead values from the web page 
born=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born[0:50]:
    b=i.text
    Born_dead.append(b)

Born_dead

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [305]:
#scraping term of office from the web page 
to=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in to[0:50]:
    t=i.text
    Term_of_office.append(t)
    
Term_of_office

['15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 '28 July 1979 to 14 January 1980',
 '170 days',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 '2 December 1989 to 10 November 1990',
 '343 days',
 '10 November 1990 to 21 June 1991',
 '223 days',
 '21 June 1991 to 16 May 1996',
 '4 years, 330 days',
 '16 May 1996 to 1 June 1996',
 '16 days',
 '1 June 1996 to 21 April 1997',
 '324 days',
 '21 April 1997 to 19 March 1998 ',
 '332 days',
 '19 March 1998 to 22 May 2004 ',
 '6 years, 64 days',
 '22 May 2004 to 26 May 2014   ',
 '10 years, 4 days',
 '26 May 2014 - Present',
 '15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 '28 July 1979 to 14 January 1980',
 '170 days',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 '2 December 1989 to 10 November 1990',
 '343 days',
 '10 November 1990 to 21 June 1991',
 '223 days',
 '21 June 1991 to 16 May 1996',
 '4 years, 330 days',
 '16 May 1996 to 1 June 1996',
 '16 days',
 '1 June 1996 to 21 April 1997',
 '324 days',
 '21 April 1997 to 19 March 1998 ',
 '332 days',
 '19 March 1998 to 22 May 2004 ',
 '6 years, 64 days',
 '22 May 2004 to 26 May 2014   ',
 '10 years, 4 days',
 '26 May 2014 - Present']

In [312]:
Term_of_office=Term_of_office[:35]
Term_of_office

['15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 '28 July 1979 to 14 January 1980',
 '170 days',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 '2 December 1989 to 10 November 1990',
 '343 days',
 '10 November 1990 to 21 June 1991',
 '223 days',
 '21 June 1991 to 16 May 1996',
 '4 years, 330 days',
 '16 May 1996 to 1 June 1996',
 '16 days',
 '1 June 1996 to 21 April 1997',
 '324 days',
 '21 April 1997 to 19 March 1998 ',
 '332 days',
 '19 March 1998 to 22 May 2004 ',
 '6 years, 64 days',
 '22 May 2004 to 26 May 2014   ',
 '10 years, 4 days',
 '26 May 2014 - Present']

In [317]:
Term_of_office.remove('16 years, 286 days')
Term_of_office.remove('13 days')
Term_of_office.remove('1 year, 216 days')
Term_of_office.remove('13 days')
Term_of_office.remove('11 years, 59 days')
Term_of_office.remove('2 year, 126 days')
Term_of_office.remove('170 days')
Term_of_office.remove('4 years, 291 days')
Term_of_office.remove('5 years, 32 days')
Term_of_office.remove('343 days')
Term_of_office.remove('223 days')
Term_of_office.remove('4 years, 330 days')
Term_of_office.remove('16 days')
Term_of_office.remove('324 days')
Term_of_office.remove('332 days')
Term_of_office.remove('6 years, 64 days')
Term_of_office.remove('10 years, 4 days')

In [318]:
Term_of_office

['15 August 1947 to 27 May 1964',
 '27 May 1964 to 9 June 1964,',
 '9 June 1964 to 11 January 1966',
 '11 January 1966 to 24 January 1966',
 '24 January 1966 to 24 March 1977',
 '24 March 1977 to  28 July 1979 ',
 '28 July 1979 to 14 January 1980',
 '14 January 1980 to 31 October 1984',
 '31 October 1984 to 2 December 1989',
 '2 December 1989 to 10 November 1990',
 '10 November 1990 to 21 June 1991',
 '21 June 1991 to 16 May 1996',
 '16 May 1996 to 1 June 1996',
 '1 June 1996 to 21 April 1997',
 '21 April 1997 to 19 March 1998 ',
 '19 March 1998 to 22 May 2004 ',
 '22 May 2004 to 26 May 2014   ',
 '26 May 2014 - Present']

In [286]:
#scraping remarks value from the web page 
re=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in re[0:50]:
    r=i.text
    Remarks.append(r)
    
Remarks

['15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 '28 July 1979 to 14 January 1980',
 '170 days',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 '2 December 1989 to 10 November 1990',
 '343 days',
 '10 November 1990 to 21 June 1991',
 '223 days',
 '21 June 1991 to 16 May 1996',
 '4 years, 330 days',
 '16 May 1996 to 1 June 1996',
 '16 days',
 '1 June 1996 to 21 April 1997',
 '324 days',
 '21 April 1997 to 19 March 1998 ',
 '332 days',
 '19 March 1998 to 22 May 2004 ',
 '6 years, 64 days',
 '22 May 2004 to 26 May 2014   ',
 '10 years, 4 days',
 '26 May 2014 - Present',
 '15 August 1947 to 27 May 1964',
 '16 years, 286 days',
 '27 May 1964 to 9 June 1964,',
 '13 days',
 '9 June 1964 to 11 January 1966',
 '1 year, 216 days',
 '11 January 1966 to 24 January 1966',
 '13 days',
 '24 January 1966 to 24 March 1977',
 '11 years, 59 days',
 '24 March 1977 to  28 July 1979 ',
 '2 year, 126 days',
 '28 July 1979 to 14 January 1980',
 '170 days',
 '14 January 1980 to 31 October 1984',
 '4 years, 291 days',
 '31 October 1984 to 2 December 1989',
 '5 years, 32 days',
 '2 December 1989 to 10 November 1990',
 '343 days',
 '10 November 1990 to 21 June 1991',
 '223 days',
 '21 June 1991 to 16 May 1996',
 '4 years, 330 days',
 '16 May 1996 to 1 June 1996',
 '16 days',
 '1 June 1996 to 21 April 1997',
 '324 days',
 '21 April 1997 to 19 March 1998 ',
 '332 days',
 '19 March 1998 to 22 May 2004 ',
 '6 years, 64 days',
 '22 May 2004 to 26 May 2014   ',
 '10 years, 4 days',
 '26 May 2014 - Present',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [297]:
Remarks=Remarks[70:88]

In [298]:
Remarks

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [319]:
print(len(Name), len(Remarks), len(Term_of_office), len(Born_dead))

18 18 18 18

In [320]:
import pandas as pd
df=pd.DataFrame({'Name':Name, 'Born-Dead':Born_dead, 'Term Of Office':Term_of_office, 'Remarks':Remarks})
df

,Name,Born-Dead,Term Of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps-

1. First get the webpagehttps://www.motor1.com/

2. Then You have to click on the List option from Dropdown menu on leftside.

3. Then click on 50 most expensive carsin the world..

4. Then scrap the mentioned data and make the dataframe.

In [321]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [322]:
#opening the naukri page on automated chrome browser
driver.get('https://www.motor1.com/')

In [323]:
#search for 50 most expensive car in search bar
search=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
search.send_keys('50 most expensive cars in the world')

In [324]:
button=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
button.click()

In [325]:
expensive_car=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
expensive_car.click()

In [326]:
#create list
car_name=[]
price=[]

In [327]:
#scraping car name from the web page
car=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car[0:50]:
    car=i.text
    car_name.append(car)
    
car_name

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [341]:
len(car_name)

50

In [355]:
#scraping price value from the web page 
price_tag=driver.find_elements(By.XPATH,"//p/strong")
for i in price_tag[0:50]:
    p=i.text
    price.append(p)
    
price

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 '',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million']

In [360]:

price=price[50:]

In [361]:
len(price)

150

In [363]:
    
price=price[:50]

In [364]:
len(price)

50

In [365]:
import pandas as pd
df=pd.DataFrame({'Name':car_name, 'price':price})
df

                               Name                 price
0                     De Tomaso P72   Price: $1.3 Million
1                 Ferrari LaFerrari   Price: $1.4 Million
2                     Pagani Huayra   Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C   Price: $1.7 Million
5                     Ferrari Monza   Price: $1.7 Million
6                Gordon Murray T.33   Price: $1.7 Million
7                 Koenigsegg Gemera   Price: $1.7 Million
8                       Zenvo TSR-S   Price: $1.7 Million
9                Hennessey Venom F5   Price: $1.7 Million
10                  Bentley Bacalar   Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
12           Bentley Mulliner Batur   Price: $1.9 Million
13                     Deus Vayanne   Price: $2.0 Million
14                      SSC Tuatara   Price: $2.0 Million
15                      Lotus Evija  Price: $2.0 Million*
16              Aston Martin Vulcan   Price: $2.1 Million
17                       Delage D12   Price: $2.3 Million
18                McLaren Speedtail   Price: $2.3 Million
19                     Rimac Nevera   Price: $2.3 Million
20                    Pagani Utopia   Price: $2.4 Million
21             Pininfarina Battista   Price: $2.5 Million
22                Ferrari FXX K Evo   Price: $2.5 Million
23               Gordon Murray T.50   Price: $2.6 Million
24             Lamborghini Countach   Price: $2.6 Million
25         Mercedes-AMG Project One   Price: $2.6 Million
26              Aston Martin Victor   Price: $2.7 Million
27      Hennessey Venom F5 Roadster   Price: $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie   Price: $3.0 Million
30        W Motors Lykan Hypersport   Price: $3.2 Million
31                    McLaren Solus   Price: $3.4 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport   Price: $3.5 Million
34                 Lamborghini Sian   Price: $3.6 Million
35                 Koenigsegg CC850   Price: $3.6 million
36  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
37               Lamborghini Veneno   Price: $3.9 Million
38                   Bugatti Bolide   Price: $4.5 Million
39                  Bugatti Mistral   Price: $4.7 Million
40              Pagani Huayra Imola   Price: $5.0 Million
41                     Bugatti Divo   Price: $5.4 Million
42              SP Automotive Chaos   Price: $5.8 Million
43                 Pagani Codalunga   Price: $6.4 Million
44         Mercedes-Maybach Exelero   Price: $7.4 Million
45               Bugatti Centodieci   Price: $8.0 Million
46          Bugatti Chiron Profilée   Price: $9.0 Million
47             Rolls-Royce Sweptail  Price: $10.8 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million